[submodule "00-libft"]
	path = 00-libft
	url = git@github.com:Knulpinette/00-libft.git
[submodule "01-born2beroot"]
	path = 01-born2beroot
	url = git@github.com:Knulpinette/01-born2beroot.git
[submodule "01-get_next_line"]
	path = 01-get_next_line
	url = git@github.com:Knulpinette/01-get_next_line.git
[submodule "01-printf"]
	path = 01-printf
	url = git@github.com:Knulpinette/01-printf.git
[submodule "02-pipex"]
	path = 02-pipex
	url = git@github.com:Knulpinette/02-pipex.git
[submodule "02-push_swap"]
	path = 02-push_swap
	url = git@github.com:Knulpinette/02-push_swap.git
[submodule "03-philosophers"]
	path = 03-philosophers
	url = git@github.com:Knulpinette/03-philosophers.git
[submodule "04-cpp_modules"]
	path = 04-cpp_modules
	url = git@github.com:Knulpinette/04-cpp_modules.git
[submodule "04-minirt"]
	path = 04-minirt
	url = git@github.com:Knulpinette/04-minirt.git
