.venv

**/.vscode/
**/.DS_Store
./*/.DS_Store

42_00_libft
42_01_born2beroot
42_01_get_next_line
42_01_printf
42_02_pipex
42_02_push_swap
42_03_minishell
42_03_philosophers
42_04_minirt
42_04_cpp_modules
42_05_inception

Temp.sol

42Piscine/
norminette/
