[submodule "00-libft"]
	path = libft
	url = git@github.com:Knulpinette/libft.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:Knulpinette/born2beroot.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Knulpinette/get_next_line.git
[submodule "printf"]
	path = printf
	url = git@github.com:Knulpinette/printf.git
[submodule "02-pipex"]
	path = 02-pipex
	url = git@github.com:Knulpinette/02-pipex.git
[submodule "02-push_swap"]
	path = 02-push_swap
	url = git@github.com:Knulpinette/02-push_swap.git
